@import '/src/utilities/variables.scss';

.special-modal {
  .modal-content {
    background-color: $dark-grey-color;
    padding: 2%;
  }
}

.modal-header {
  border-bottom: none;
  button {
      background-color: $light-color;
    }
/* question: how to change background color for X-close-button?
In react-bootstrap we can add closeconstiant='#fff' for ModalHeader in AddMovieModal
instead of changing background-color here in css.
What we can add in reactstrap for ModalHeader in AddMovieModal ? */ 
}

.modal-footer {
  border-top: none;
}
