@import '/src/utilities/variables';

.red-text {
  color: $red-color;
}

.white-text {
  color: $light-color;;
}

.black-text {
  color: $dark-grey-color;
}

.font-size-extra-small {
  font-size: $text-extra-small;
}

.font-size-small {
  font-size: $text-small;
}

.font-size-medium {
  font-size: $text-medium;
}

.font-size-large {
  font-size: $text-large;
}
