// colors
$dark-color: #141414;
$dark-grey-color: #232323;
$grey-color: #555;
$light-color: #fff;
$red-color: #f65261;
$green-color: #2fcf1a;
$orange-color: #fea512;
// screens
$iphon: 320px;
$small-screen: 600px;
$medium-screen: 900px;
$large-screen: 1155px;
// text
$text-extra-small: 11px;
$text-small: 14px;
$text-medium: 20px;
$text-large: 36px;
