@import '/src/utilities/variables.scss';
@import '/src/utilities/mixins';

#add-movie-form-id,
#edit-movie-form-id {
  label {
    color: $red-color;
    @include uppercase;
    margin-right: 2%;
  }
}

.errorsMessages {
  color: $orange-color;
  position: relative;
  margin-top: -5px;
  font-size: $text-small bold;
  margin-bottom: 10px;
}
