.not-found-div {
  margin-top: 80px;
  height: 400px;
}

.no-style {
  font-size: 200px;
  background: -webkit-linear-gradient(180deg, rgba(212,68,41,1), rgba(255,255,255,1), rgba(0,212,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#back-btn {
  width: auto
}
