@use '/src/utilities/variables' as v;

#nav-pagination {
  position: relative;
  display: flex;
  flex: row;
  justify-content: center;
  padding-bottom: 50px;

  button {
    width: 40px;
  }
}

.pagination-item-style {
  margin-left: 5px;
  
  .page-link {
    color: v.$light-color;
  }

}

.pagination-item-style.page-item.active {
  
  button {
    background-color: v.$red-color;
    border-color: v.$red-color;
  }
}

.pagination-link-style {
  background-color: v.$grey-color;
  border-radius: 5px;

  &-arrow {
    color: v.$dark-color;
    border-radius: 5px;
  }
}

.pagination-link-style:hover {
  background-color: v.$dark-grey-color;

  &-arrow {
    color: v.$dark-color;
  } 
}

.pagination-link-style:active {
  background-color: v.$red-color;

  &-arrow {
    color: v.$dark-color;
  } 
}

#next-page {
  margin-left: 5px;
}
