#nav-pagination {
  position: relative;
  display: flex;
  flex: row;
  justify-content: center;
  padding-bottom: 50px;
}

.pagination-item-style.page-item.active button {
  background-color: #f65261;
  border-color: #f65261;
}

#nav-pagination button {
  width: 40px;
}

.pagination-item-style {
  margin-left: 5px;
}

.pagination-item-style .page-link {
  color: #fff;
}

.pagination-link-style {
  background-color: #555;
  border-radius: 5px;
}

.pagination-link-style:hover {
  background-color: #232323;
}

.pagination-link-style:active {
  background-color: #f65261;
}

.pagination-link-style-arrow {
  color: #141414;
  border-radius: 5px;
}

.pagination-link-style-arrow:hover {
  color: #141414;
}

.pagination-link-style-arrow:active {
  color: #141414;
}

#next-page {
  margin-left: 5px;
}
