@import '/src/utilities/variables';

#nav-pagination {
  position: relative;
  display: flex;
  flex: row;
  justify-content: center;
  padding-bottom: 50px;

  button {
    width: 40px;
  }
}

.pagination-item-style {
  margin-left: 5px;
  
  .page-link {
    color: $light-color;
  }

}

.pagination-item-style.page-item.active {
  
  button {
    background-color: $red-color;
    border-color: $red-color;
  }
}

.pagination-link-style {
  background-color: $grey-color;
  border-radius: 5px;

  &-arrow {
    color: $dark-color;
    border-radius: 5px;
  }
}

.pagination-link-style:hover {
  background-color: $dark-grey-color;

  &-arrow {
    color: $dark-color;
  } 
}

.pagination-link-style:active {
  background-color: $red-color;

  &-arrow {
    color: $dark-color;
  } 
}

#next-page {
  margin-left: 5px;
}
